.Push{
    padding: 10px 10px;
    border-radius: 5px;
    position: fixed;
    z-index: 2000;
    top: 100px;
    right: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color:var(--bg-primary-light);
    color: var(--bg--white);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Push>p{
    font-size: 12px;
}

@media screen and (min-width:100px) and (max-width:650px) {
    .Push{
        padding: 10px 10px;
        border-radius: 0;
        top: initial;
        bottom: 10px;
        right: 10px;
        left: 10px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        text-align: center;
    }
}