.Home{
    width: 100%;
}

.Home__head{
    width: 100%;
    padding: 100px 100px;
    background-color: var(--bg-primary-dark);
}

.Home__head>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Home__head>div>label{
    font-size: 20px;
    color: var(--color-primary-light);
}

.Home__head>div>h3{
    font-size: 70px;
    color: var(--color-ternary-light);
}

.Home__head>div:first-child{
    margin-bottom: 20px;
}

.Home__head>div>label>strong{
    color: var(--color-ternary-light);
}

.Home__metrics{
    width: 80%;
    display: grid;
    grid-template-columns: calc(100% - 700px) 700px;
    gap: 20px;
    box-sizing: border-box;
    margin: 20px auto;
}

.Home__labels{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px 10px;
    box-sizing: border-box;
}

.Home__label{
    width: 100%;
    background-color: var(--bg-primary-light);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 10px 10px;
}

.Home__label>h3{
    font-size: 40px;
}

.Home__graphics{
    width: 80%;
    background-color: var(--bg-primary-light);
    border: 1px solid rgb(216, 216, 216);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 70% 30%;
}

.Home__graphics>div>canvas{
    width: 95% !important;
    height: 450px !important;
}

.Home__contentBars{
    width: 100%;
    height: 450px;
    margin-top: 20px;
    overflow-y: auto;
}

.Home__metricsBar{
    width: 100%;
    padding: 20px 0;
}

.Home__metricsBar>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Home__metricsBar>span{
    display: block;
    margin-top: 10px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    background-color: var(--bg-primary-dark);
}

.Home__metricsBar>div::after{
    content: "";
    width: 100% !important;
    height: 10px;
    position: absolute;
    bottom: -20px;
    border-radius: 5px;
    left: 0;
    background-color: rgb(224, 224, 224);
    z-index: 9;
}

@media screen and (min-width:100px) and (max-width:650px) {
    .Home__head{
        width: 100%;
        padding: 50px 50px;
        background-color: var(--bg-primary-dark);
    }
    
    .Home__head>div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .Home__head>div>label{
        color: var(--color-primary-light);
    }
    
    .Home__head>div>h3{
        font-size: 55px;
        color: var(--color-ternary-light);
    }
    
    .Home__head>div:first-child{
        margin-bottom: 20px;
    }
    
    .Home__head>div>label>strong{
        color: var(--color-ternary-light);
    }
    
    .Home__metrics{
        width: 100%;
        display: initial;
        padding: 10px 10px;
    }
    
    .Home__labels{
        width: calc(100% - 20px);
        height: initial;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 10px;
        padding: 10px 10px;
        gap:10px 10px;
    }
    
    .Home__label{
        width: 100%;
        background-color: var(--bg-primary-light);
        border: 1px solid rgb(231, 231, 231);
        border-radius: 5px;
        padding: 10px 10px;
    }
    
    .Home__label>h3{
        font-size: 30px;
    }

    .Home__metrics>canvas{
        width: 100% !important;
        height: 100% !important;
    }
}   