.CardPay{
    width: 100%;
    height: calc(100vh - var(--height-header));
    border-radius: 5px;
    background-color: var(--color-primary-light);
    position: fixed;
    top: calc(var(--height-header));
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(209, 209, 209);
    padding: 20px 10%;
    overflow-y: auto;
}

.CardPay__close{
    color: rgb(94, 158, 211);
    background-color: inherit;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.CardPay__close::before{
    content:'<< ';
    color: rgb(94, 158, 211);
    font-weight: bold;
}

.CardPay__section{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    box-sizing: border-box;
}

.CardPay__products{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px;
    background-color: var(--bg-primary-light);
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
}

.CardPay__SearchProducts{
    margin-top: 20px;
}

.CardPay__previewProduct{
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    box-sizing: border-box;
}

.CardPay__previewProduct>label{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.CardPay__previewProduct>label>input,.CardPay__previewProduct>label>select{
    width: 100%;
    height: 40px;
    background-color: inherit;
    border: 1px solid rgb(211, 211, 211);
}

.CardPay__previewProduct>label>input{
    padding-left: 10px;
}

.CardPay__action{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CardPay__action>strong{
    font-size: 18px;
}

.CardPay__action>button{
    width: 120px;
    height: 40px;
    border: none;
    background-color: var(--bg-primary-dark);
    color: var(--color-primary-light);
    font-weight: bold;
    border-radius: 2px;
}

.CardPay__contentlist{
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
    margin-bottom: 20px;
    margin-top: 20px;
}

.CardPay__contentlist>div:last-child{
    width: 100%;
}

.CardPay__listHead{
    width: 100%;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 40% 10% 10% 10% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.CardPay__listHead>label{
    color: var(--color-secondary-light);
    font-weight: bolder;
}

.CardPay__listItem{
    width: 100%;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 40% 10% 10% 10% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.CardPay__listItem>label{
    width: 100%;
}

.CardPay__listItem>label>input[type=number]{
    width: 100%;
}

.CardPay__datesInvoice{
    width: 100%;
}

.CardPay__listItem>div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.CardPay__datesClient{
    width: 100%;
    padding: 20px 20px;
    border: 1px solid rgb(216, 216, 216);
    margin-top: 20px;
}

.CardPay__client{
    display: none;
    width: 100%;
    padding: 20px 20px;
    margin-top: 20px;
    border: 1px solid rgb(216, 216, 216);
}

.CardPay__client--active{
    display: block;
}

.CardPay__client>div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.CardPay__client>div>label{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.CardPay__client>div>label>input{
    width: 100%;
    height: 40px;
    border: 2px;
    background-color: inherit;
    border: 1px solid rgb(211, 211, 211);
}

.CardPay__client>span{
    display: block;
    margin-bottom: 20px;
}

.CardPay__datesResumen{
    width: 100%;
    padding: 20px 20px;
    border: 1px solid rgb(216, 216, 216);
    margin-top: 20px;
}

.CardPay__datesResumen>button{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    color: var(--color-primary-light);
    font-weight: bold;
    background-color: var(--bg-primary-dark);
    margin-top: 10px;
}

.CardPay__date{
    width: 50%;
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.CardPay__date>input{
    width: 100%;
    height: 40px;
    background-color: var(--bg-primary-light);
    border: 1px solid rgb(211, 211, 211);
}

.CardPay__btnGenerate{
    width: 100%;
    height: 40px;
    background-color: var(--bg-primary-dark);
    color: var(--color-primary-light);
    font-weight: bold;
    border-radius: 2px;
    margin-top: 20px;
}

@media screen and (min-width:100px) and (max-width:650px) {
    .CardPay{
        width: 100%;
        height: calc(100vh - var(--height-header));
        border-radius: 5px;
        background-color: var(--color-primary-light);
        position: fixed;
        top: calc(var(--height-header));
        left: 0;
        right: 0;
        transform:initial;
        border: 1px solid rgb(209, 209, 209);
        padding: 10px 10px;
        overflow-y: auto;
    }
    
    .CardPay__close{
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .CardPay__section{
        width: 100%;
        display: block;
        gap: initial;
    }
    
    .CardPay__products{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px 10px;
    }
    
    .CardPay__SearchProducts{
        width: 100%;
        margin-top: 20px;
    }
    
    .CardPay__previewProduct{
        width: 100%;
        margin: 10px 0;
        gap: 10px;
    }
    
    .CardPay__previewProduct>label{
        width:25% !important;
    }
    
    .CardPay__previewProduct>label>input,.CardPay__previewProduct>label>select{
        width: 100%;
        height: 40px;
    }
    
    .CardPay__action{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .CardPay__action>strong{
        font-size: 18px;
    }
    
    .CardPay__action>button{
        width: 120px;
        height: 40px;
    }
    
    .CardPay__contentlist{
        width: 100%;
        border: 1px solid rgb(216, 216, 216);
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .CardPay__listHead{
        width: 100%;
        padding: 10px 10px;
        box-sizing: border-box;
        grid-template-columns: 25% 10% 10% 10% 10% 10% 20%;
        font-size: 12px;
        display: grid;
        justify-content: flex-start;
        align-items: center;
        gap: initial;
    }

    .CardPay__listHead>label{
        width: 100%;
        word-wrap: break-word;
        text-align: center;
    }
    
    .CardPay__listItem{
        width: 100%;
        padding: 10px 10px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 25% 10% 10% 10% 10% 10% 20%;
        font-size: 12px;
        justify-content: flex-start;
        align-items: center;
        gap: initial;
    }

    .CardPay__listItem>:nth-child(6){
        text-align: center;
    }
    
    .CardPay__datesClient{
        width: 100%;
        padding: 10px 10px;
        margin-top: 20px;
    }
    
    .CardPay__client{
        width: 100%;
        padding: 10px 10px;
        margin-top: 20px;
    }
    
    .CardPay__client>div{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .CardPay__client>div>label{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .CardPay__client>div>label>input{
        width: 100%;
        height: 40px;
        border: 2px;
    }
    
    .CardPay__client>span{
        display: block;
        margin-bottom: 20px;
    }
    
    .CardPay__datesResumen{
        width: 100%;
        padding: 10px 10px;
        border: 1px solid rgb(216, 216, 216);
        margin-top: 20px;
    }
    
    .CardPay__date{
        width: 100%;
        margin-top: 20px;
    }
    
    .CardPay__date>input{
        width: 100%;
        height: 40px;
    }
    
    .CardPay__btnGenerate{
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }
}