.CardPay{
    width: 100%;
    height: calc(100vh - var(--height-header));
    border-radius: 5px;
    background-color: var(--color-primary-light);
    position: fixed;
    top: calc(var(--height-header));
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(209, 209, 209);
    padding: 20px 20px;
    overflow-y: auto;
}

.CardPay__close{
    color: rgb(94, 158, 211);
    background-color: inherit;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.CardPay__close::before{
    content:'<< ';
    color: rgb(94, 158, 211);
    font-weight: bold;
}

.CardPay__client{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    gap: 10px;
}

.CardPay__result{
    position: absolute;
    width: 500px;
    bottom:-80px;
    background-color: var(--color-primary-light);
    display: block;
}

.CardPay__result>button{
    display: flex;
    width: 100%;
    height: 40px;
}

.CardPay__client>label{
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.CardPay__client>label>input{
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--bg-primary-dark);
}

.CardPay__client>label>input:focus{
    outline: none;
}

.CardPay__detail{
    margin-bottom: 20px;
}

.CardPay__detail>div{
    width: 100%;
    display: grid;
    grid-template-columns: 16px 30% 10% 100px 15% 15%;
    margin-bottom: 5px;
    gap: 10px;
}

.CardPay__detail>div>input[type=text]{
    width: 100%;
    text-align: center;
}

.CardPay__detail>div>input[type=checkbox]{
    width:16px;
}

.CardPay__totals{
    margin-bottom: 20px;
}

.CardPay__totals>label:first-child{
    font-size: 20px;
}

.CardPay__totals>label:last-child{
    font-size: 20px;
    font-weight: bold;
}

.CardPay__payways{
    width: 100%;
    margin-bottom: 20px;
}

.CardPay__payways>div{
    width: 100%;
    margin-bottom: 10px;
}

.CardPay__payway{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.CardPay__payway>label{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.CardPay__payway>label>select,.CardPay__payway>label>input{
    height: 40px;
}

.CardPay__payway>label>select{
    border: none;
    background-color: var(--bg-primary-dark);
    color: var(--color-primary-light);
    font-weight: bold;
}

.CardPay__payway>label>input{
    width: 140px;
    border: none;
    border-bottom: 2px solid var(--bg-primary-dark);
}

.CardPay__payway>label>input:focus{
    outline: none;
}

.CardPay__pay{
    width: 200px;
    height: 40px;
    border: none;
    background-color: var(--bg-primary-dark);
    color: var(--color-primary-light);
    font-weight: bold;
    font-size: 15px;
}

.CardPay__note{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.CardPay__note>textarea{
    width: 400px;
}

