:root{
    --width-page:70%;
}

.Orders{
    width: var(--width-page);
    margin: 0 auto;
    position: relative;
}

.Orders__nav{
    width: 100%;
    height: 40px;
    position: sticky;
    top: var(--height-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--bg-body-ligth);
}

.Orders__subtitle{
    display: block;
    margin-bottom: 20px;
    font-weight: 100;
}

.Orders__search{
    position: sticky;
    top: var(--height-header);
    width: 400px;
    height: 35px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid var(--color-text-dark);
}

.Orders__search:hover,.Orders__search:focus{
    outline: none;
}

.Orders__button{
    width: 50px;
    height: 50px;
    background-color: var(--bg-secondary-light);
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.Orders__select{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:10px;
    align-items: center;
    position: sticky;
    top: calc(var(--height-header) + 40px);
    padding: 10px 0;
    background-color: var(--bg-primary-light);
}

.Orders__select>button{
    width: 60%;
    border-radius: 20px;
    border: none;
    height: 35px;
    cursor: pointer;
    font-weight: bold;
}

.Orders__select--buttonActive{
    background-color: var(--bg-ternary-light);
    color:var(--color-primary-light)
}

.Orders__list{
    width: 100%;
    overflow: auto;
    position: sticky;
    top: calc(var(--height-header) + 95px);
    background-color: var(--bg-primary-light);
}

.Orders__categories{
    width: 200%;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Orders__categories>button{
    width:100px;
    height: 40px;
    border: none;
    background-color: inherit;
}

.Orders__categories--active{
    border-bottom: 2px solid var(--bg-primary-dark) !important;
}

.Orders__subtitle{
    margin: 10px 0;
    font-weight: bold;
}

.Orders_contentItems{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
}

.OrderItem{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 30% 10% 30% 15% 15%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.OrderItem>h3,.OrderItem>p{
    word-wrap: break-word;
}

.OrderItem>button{
    width: 100%;
    height: 40px;
    border: none;
    color: var(--color-primary-light);
    font-weight: bold;
    background-color: var(--bg-secondary-light);
}

@media screen and (min-width:100px) and (max-width:650px) {
    :root{
        --width-page:90%;
    }
}